@font-face {
    font-family: Gotham;
    src: url(../font/Gotham-Font/GothamMedium.ttf);
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #232323;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 2px;
    word-spacing: 4px;
}
.container {
    margin: auto;
    width: 65%;
}
.flex{
    display: flex;
    justify-content: center;
}
.elements {
    display: flex;
    justify-content: space-evenly; 
    list-style: none;
}
a {
    font-weight: bold;
    color: white;
}
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 35px;
    background-color: #00000080;
}
.home {
    background-image: url(../images/modelo.gif);
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    filter: opacity(.3);
}
header {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 45px;
}
.logo {
    text-align: right;
    padding-right: 35px;;
}
.info{
    padding-top: 10px;
}
.logo > img {
    width: 50%;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
}
main {
    margin-bottom: 50px;
    text-align: center;
    min-height: 1000px;
}

.courses{
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1000px;
}
.courses h2{
    margin-bottom: 8px;
    padding: 10px;
}
.frame{
    width: 99%;
    height: 50%;
}
.frame iframe{
    width: 100%;
    aspect-ratio: 16/9;
}

.about{
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 1000px;
}

#about{
    padding: 10px;
}
.partners {
    width: 100%;
    height: 100%;
    background-color: #232323;
    margin-bottom: 100px;
    padding-top: 50px; 
}
#partners {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.img {
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
    margin-top: 70px;
}
.cliente {

    border-radius: 10px;
    align-items: center;
    flex-wrap: wrap;
}
.contact {
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.divForm {
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(46, 45, 45);
    width: 50%;
    height: 65%;
    padding: 20px;
    border-radius: 10px;
}
.form-group {
    margin-top: 20px;
}
#message {
    height: 190px;
}

#sendButton {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: larger;
    background-color: rgb(182, 182, 182);
}
.invalid-feedback {
    font-size: 12px;
    margin: 1px;
}
@media(max-width: 800px) {
    body {
        font-size: 12px;
        letter-spacing: 2px;
        word-spacing: 2px;
    }
    .container {
        width: 95%;
    }
    .elements { 
        padding: 0;
    }
    #navbar {

        letter-spacing: 1px;
        word-spacing: 25px;
    }
    header {
        flex-direction: column-reverse;
        text-align: center;
    }
    .logo {
        text-align: center;
        padding-right: 0;
    }
    main {
        margin-bottom: 50px;
        min-height: 500px;
    }
    .courses{
        width: 100%;
        height: 600px;
    }
    .about{
        padding-top: 0;
        flex-direction: column;

        text-align: center;
        height: 1000px;
    }
    .partners {

        height: 600px;
        background-color: #232323;
        margin-bottom: 0;
        padding-top: 50px;
        justify-content: center; 
        z-index: 1;
    }
    .cliente {
 
        width: 100%;
        
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .divForm{
        width: 95%;
    }
}